.login-div {
  background-image: url('../../assets/img/manual.jpg');
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.app-content {
  margin: 100px;
  padding: 50px;

}

.app-input-icon {
  font-size: 16px;
}

.example-card {
  width: 400px;
  float: right;
  flex: 1 1 0;
}

.example-header-image {
  background-image: url('../../assets/img/child-writing.jpg');
  background-size: cover;
}

md-grid-tile {
  background: lightblue;
}

#err {
  color: red;
}
