<div class="login-div"></div>
<md-card class = "poc-card" color="primary">
  <md-card-header>

  </md-card-header>
  <md-card-content>
    <h2> Problem Statement: Using legacy Q-Global product bundles in Angular App</h2>
    <article>
      This proof of concept (POC) is the work to prove existing Q-Global bundles in modern Angular (4) framework.
      This app loads existing Q-Global bundles in Angular application.
      This POC is required to prove that bundle migration is possible in Angular apps without rewriting them from scratch.
    </article>
  </md-card-content>
</md-card>
<md-card class="login-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Pearson Customer login</md-card-title>
    <md-card-subtitle>Clinical Assessments</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="../../assets/img/child-writing.jpg">
  <md-card-content>
    <form #loginForm="ngForm" (submit)="login()"><br>
      <md-input-container>
        <input mdInput type="text" required [(ngModel)]="username" id="username" name="username" required>
        <md-placeholder>
          <i class="material-icons app-input-icon">account_circle</i>Username
        </md-placeholder>
      </md-input-container>
      <br><br>
      <md-input-container>
        <input mdInput type="password" required [(ngModel)]="password" id="password" name="password" required>
        <md-placeholder>
          <i class="material-icons app-input-icon">lock_open</i>Password
        </md-placeholder>
      </md-input-container>
      <br><br>
      <button md-raised-button color="primary" type="submit" name="action" [disabled]="!loginForm.form.valid">LOGIN
      </button>
      <br><br>
      <span id="err"><small>{{errorMessage}}</small></span>
      <br>
      <md-slide-toggle color="primary">
        <small>Remember me!</small>
      </md-slide-toggle>
    </form>
  </md-card-content>
</md-card>

