.title-align {
  text-align: center;
}

.tool-bar-align {
  flex: 1 1 auto;
}

.td-padding {
  padding: 0.3em;
  width: 250px;
}

.toolbar-padding {
  padding-left: 50px;
}


.settings-basic {
  padding: 20px;
  /*display: flex;*/
}

.settings-basic .mat-card-content {
  padding: 16px;
}
