<settings (manualEntryLoadEvent)="loadManualEntryForm($event)" (productChangeEvent)="productChange($event)"
          (formChangeEvent)="formChange($event)" (saveResponseEvent)="saveResponse($event)"
          (platformValuesChangeEvent)="consumePlatformValues($event)"></settings>


<md-card class="settings-card settings-basic">

  <md-chip-list>
      <md-chip *ngIf="showProductChip" color="primary" selected="true">{{productSelected}} &#10142; {{formSelected}}</md-chip>
  </md-chip-list>

<br>
  <div #itemEntry>

  </div>

  <div id="formDiv" name="formDiv">

  </div>

</md-card>





