.title-align {
  text-align: center;
}

.tool-bar-align {
  flex: 1 1 auto;
}

.settings-basic {
  padding: 20px;
  /*display: flex;*/
}

.settings-basic .mat-card-content {
  padding: 16px;
}

#container > body, div, dl, dt, dd, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

#container > fieldset, img {
  border: 0 none;
}

#container > address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

#container > caption, th {
  text-align: left;
}

#container > q:before, q:after {
  content: "";
}

#container > abbr, acronym {
  border: 0;
}

#container > body {
  font: 12px Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
  *font-size: 75%;
}

#container > h1 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}

#container > h2 {
  font-size: 1.1667em;
  font-weight: bold;
  line-height: 1.286em;
  margin-top: 1.929em;
  margin-bottom: 0.643em;
}

#container > h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

#container > p {
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

#container > blockquote {
  font-size: 0.916em;
  margin-top: 3.272em;
  margin-bottom: 3.272em;
  line-height: 1.636em;
  padding: 1.636em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#container > ol li, ul li {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}

#container > pre, code {
  font-size: 115%;
  *font-size: 100%;
  font-family: Courier, "Courier New";
  background-color: #efefef;
  border: 1px solid #ccc;
}

#container > pre {
  border-width: 1px 0;
  padding: 1.5em;
}

#container > table {
  font-size: 100%;
}

.dojoTabular {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  margin: 0 1.5em;
}

#container > .dojoTabular th {
  text-align: center;
  font-weight: bold;
}

#container > .dojoTabular thead,
#container > .dojoTabular tfoot {
  background-color: #efefef;
  border: 1px solid #ccc;
  border-width: 1px 0;
}

#container > .dojoTabular th,
#container > .dojoTabular td {
  padding: 0.25em 0.5em;
}
